/frontend/node_modules
/dist
/build
/coverage
/.vscode
/.idea
/.DS_Store
backend/.DS_Store
frontend/.next/
.env
.env.local
.env.development
.env.test
.env.production
*.log
*.tsbuildinfo
/venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.err
*.pid
*.seed
*.pid.lock
*.coverage
